.button{
    background-color: rgb(34,179,193);
    color: #fff;
    border: 0;
    border-radius: 20px;
    transition: all 0.3s ease-in;
}

.button p{
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 1rem;
}

.button_1{
    background-color: rgb(34,179,193);
    color: #fff;
}

.button_1:hover{
   opacity: 0.8;
}

.button_2{
    color: rgb(34,179,193);
    background-color: #fff;
}

.button_2:hover{
    color: #fff;
    background-color: rgb(34,179,193);
}

.button_3{
    background-color: rgb(34,179,193);
    color: #fff;
}

.button_3:hover{
    background-color: #fff;
    color: rgb(34,179,193);
}