.navbar-section{
    background-color: #22B3C1;
    height: 80px;
    z-index: 999;
}

.navbar-active{
    position: fixed;
    width: 100%;
}

.navbar-img{
    width: 240px;
}

.nav-link{
    font-size: 1.1rem;
    font-weight: 400;
    padding: 8px 15px;
    letter-spacing: 0.5px;
    color: #fff;
}

.navbar-nav .nav-link.active{
    color: #fff ;
}

.nav-link:hover{
    color: #ddd ;
}

.social_media svg{
    color: #fff;
    box-sizing: border-box;
    font-size: 0.9rem;
}

.navbar-collapse{
    background-color: #22B3C1;
    width: 100vw;
    margin-top: 0;
}

.offcanves-body{
   /* background: url(../../Photes/pexels-taryn-elliott-3889987.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover */
}

.navbar-offcanvas{
        background-color: #22B3C1;
}

@media(max-width: 992px){
    .navbar-img{
        width: 200px;
    }

    .navbar-offcanvas{}
}