.navbar-section{
    background-color: #22B3C1;
    height: 80px;
    z-index: 999;
}

.navbar-img{
    width: 240px;
}

.nav-link{
    font-size: 1.1rem;
    font-weight: 400;
    padding: 8px 15px;
    letter-spacing: 0.5px;
    color: #fff;
}

.navbar-nav .nav-link.active{
    color: #fff ;
}

.nav-link:hover{
    color: #ddd ;
}

.social_media svg{
    color: #fff;
    box-sizing: border-box;
    font-size: 0.9rem;
}

.navbar-collapse{
    background-color: #22B3C1;
    width: 100vw;
    margin-top: 0;
}