.suggestions-info__title{
    margin-bottom: 20px;
    line-height: 2.25rem;
    font-size: 1.95rem;
    font-weight: 800;
    text-transform: capitalize;
    color: #2a2a2a;
}

.suggestions-info__subtitle{
    font-size: 1.1rem;
    line-height: 1.75rem;
    color: #afafaf;
}

.plan h2{
    width: 40%;
}

.plan p{
    width: 45%;
}

@media (max-width: 996px){
        .plan h2{
            width: 100% !important;
        }

        .plan p{
            width: 100%;
        }
}